.Chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    border-radius: 7px;
}

.Name{
    font-size: 34px;
    color: aliceblue;
}
.Profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    color: aliceblue;
    background: #329A93;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.MassageInput{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border-style: none;
    outline: none;
}
.MassageFieldLeft{
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: end;
    padding: 10px 0px 10px 0px;
}
.TextRightCorrection{
    display: flex;
    justify-content: end;
}
.MassageFieldRight{
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: end;
    padding: 10px 0px 10px 0px;
}
.ChatHistory{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    padding: 30px;
    overflow-y: scroll;
    background-color: azure;
    border-radius: 7px;
}
.Input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    font-size: 30px;
    color: #1e1e1e;;
    background: aliceblue;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
/* .MassageLeft{
    display: flex;
    align-self: start;
    align-items: end;
    width: 70%;
    padding: 5px;
    font-size: 30px;
    color: #1e1e1e;
    
    /* background: white; */
    /* border-radius: 7px;
    border-width: 1px;
} */
 /* .MassageLeft{
    display: flex;
    color: #1e1e1e;
    border-width: 1px;
    padding: 5px;
    font-size: 30px;
 } */
/* .MassageTextLeft{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background: white;
    border-radius: 15px 15px 0px 0px;
} */
 .MassageTextLeft{
    height: 100%;
    background: white;
    padding: 5px 0px 0px 0px 0px;
    border-radius: 15px 15px 0px 0px;
 }
 .MassageTextRight{
    height: 100%;
    background: #329A93;
    padding: 5px 0px 0px 0px 0px;
    border-radius: 15px 15px 0px 0px;
 }
 .MassageTextFieldRight{
    width: 70%;
    display: flex;
    justify-content: end;
    color: #1e1e1e;
    border-width: 1px;
    padding: 5px;
    font-size: 30px;
 }
 .MassageTextFieldLeft{
    width: 70%;
    display: flex;
    justify-content: start;
    color: #1e1e1e;
    border-width: 1px;
    padding: 5px;
    font-size: 30px;
 }
.TextLeft{
    display: flex;
    justify-content: center;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    color: #1e1e1e;
    font-size: 20px;
}
.MassageRight{
    display: flex;
    align-self: end;
    align-items: end;
    justify-content: end;
    width: 70%;
    padding: 5px;
    font-size: 30px;
    color: white;
}
/* .MassageTextRight{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #329A93;
    border-radius: 15px 15px 0px 0px;
} */
.TextRight{
    display: flex;
    justify-content: center;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    color: white;
    font-size: 20px;
}
.TimeLeft{
    display: flex;
    justify-content: start;
    color: gray;
    font-size: 12px;
    padding: 10px;
    padding-left: 5px;
    background-color: azure;
    border-radius: 15px 0px 0px 0px;
}
.TimeRight{
    display: flex;
    justify-content: end;
    color: gray;
    font-size: 12px;
    padding: 10px;
    padding-right: 5px;
    background-color: azure;
    border-radius: 0px 15px 0px 0px;
}