.Page{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}
body{
  background-color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
}
.Window{
  display: flex;
  align-self: center;
  width: 90%;
  /* margin: 20px; */
  justify-content: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  
  height: 100vh;
  background-color: #EDEDED;
  border-radius: 20px;
}
.SCWhite{
  color: aliceblue;
  font-size: 16px;
  font-weight: 600;
}
.SCGreen{
  color: #329A93;
  font-size: 16px;
  font-weight: 600;
}
.Photo48Size{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: aquamarine;
  border-radius: 24px;
  margin: 4px;
}
.Photo64Size{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: aquamarine;
  border-radius: 32px;
  margin: 4px;
}

.BigText{
  font-size: 25px;
  font-weight: 700;
}
.MiddleText{
  font-weight: 600;
  font-size: 19px;
}
.SmallText{
  font-size: 15px;
}
.SButton{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: aliceblue!important;
  margin: 10px;
  background-color: #329A93;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  padding: 6px;
}
.SButton:active{
  transition: all 0.5;
  background-color: #20625e;
  border-width: 2px;
  padding: 5px;
}
.Toast{
  display: inline;
  position: fixed;
  left: 80%;
  top: 110%;
  transition: all, 1s;
  
}